<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Kridsada Thanabulpong</string>
	<key>CFBundleDisplayName</key>
	<string>User CSS</string>
	<key>CFBundleIdentifier</key>
	<string>com.gridth.usercss</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>manage-user-css</string>
				<key>Identifier</key>
				<string>ManageUserCssItem</string>
				<key>Title</key>
				<string>Manage User CSS</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>usercss/globals.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Per-domain user stylesheets.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://code.grid.in.th/update.plist</string>
	<key>Website</key>
	<string>http://code.grid.in.th/</string>
</dict>
</plist>
