/* Defaults
 * ----------------------------------------------------------------------- */

html {
    background: #f0f0f0;
}

body {
    position: absolute;
    top: 50px; right: 50px; bottom: 50px; left: 50px;
    margin: 0; padding: 0;
    background: #fff;
    border: 1px solid #646464;
    font-family: sans-serif;
    font-size: 14px/100%;
}

/* Header
 * ----------------------------------------------------------------------- */

header {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#979797));
    height: 36px;
}

header h1 {
    display: block;
    margin: 0; padding: 10px;
    border-bottom: 1px solid #646464;
    font-size: 11px;
    line-height: 15px;
    color: #000;
    text-shadow: 0 1px 0 #e0e0e0;
}

/* Sidebar
 * ----------------------------------------------------------------------- */

aside {
    display: block;
    position: absolute;
    top: 36px; right: auto; bottom: 0; left: 0;
    width: 199px;
    border-right: 1px solid #aaa;
    background: #dee4ea;
    overflow: auto;
}

aside ul {
    margin: 0; padding: 0;
    list-style: none;
}

aside li {
    margin: 0; padding: 0;
    position: relative;
}

aside a.selector {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

aside a.selector.disabled {
    color: #888;
}

aside a.selector.current {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b92d5), to(#1654ab));
}

aside a.delete {
    position: absolute;
    top: 50%; right: 8px; bottom: auto; left: auto;
    margin: 0; margin-top: -7px;
    width: 14px;
    height: 14px;
    background: url(safari-resource:/ExtensionClose.png) no-repeat;
    text-indent: -10000em;
}

aside a.delete:hover {
    background-image: url(safari-resource:/ExtensionCloseHovered.png);
}

/* Content area
 * ----------------------------------------------------------------------- */

section {
    display: block;
    position: absolute;
    margin: 0; padding: 0;
    top: 36px; right: 0; bottom: 0; left: 200px;
    overflow: auto;
}

section h1 {
    margin: 0 0 10px; padding: 10px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d9d9d9));
    border-top: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    color: #666;
}

section fieldset {
    margin: 15px; padding: 0;
    border: 0;
}

section fieldset p {
    /* https://bugs.webkit.org/show_bug.cgi?id=16662 
     * I wish Safari 5 supported this yesterday. */
    margin-left: 20%;
}

section fieldset label {
    float: left;
    margin: 3px 0 0 -20%; padding: 0;
    width: 19%; /* So we have a little nice spacing */
    text-align: right;
    font-size: 13px;
    color: #666;
}

section fieldset span.label {
    display: block;
    padding: 3px 5px;
    /* This feels a bit out of place. But works for the time being. */
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), color-stop(0.1, #e5e5e5), to(#d1d1d1));
    border: 1px solid #999;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    color: #6e6e6e;
}

section fieldset span.label.hidden,
section fieldset span.label.expanded {
    cursor: pointer !important;
}

section fieldset span.label.expanded > span.text:before {
    content: url(../share/triangle-down.png);
    margin-right: 4px;
    float: left;
}

section fieldset span.label.hidden {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 4px;
}

section fieldset span.label.hidden > span.text:before {
    content: url(../share/triangle-right.png);
    margin-right: 4px;
    float: left;
}

section fieldset span.description {
    display: block;
    font-size: 11px;
    line-height: 11px;
    padding: 2px 0 0 0;
    color: #aaa;
}

section fieldset input[type="text"],
section fieldset textarea {
    font-size: 13px;
    max-width: 90%;
}

section fieldset span#label-includes,
section fieldset span#label-excludes {
    border-bottom: none;
    width: 75%;
}

section fieldset textarea {
    padding: 5px;
}

section fieldset input[name="name"] {
    width: 35%;
}

section fieldset textarea[name="domains"],
section fieldset textarea[name="excludes"] {
    width: 75%;
    min-width: 75%;
    max-width: 75%;
    height: 50px;
}

section fieldset textarea[name="styles"] {
    font-family: monospace;
    width: 75%;
    height: 200px;
}